@model IEnumerable<TR.BenFatto.Application.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Manutenção de produtos";
}

@if (ViewBag.Erro != null)
{
    <div class="alert alert-danger">
        <p><strong>Erro:</strong> @ViewBag.Erro.ToString()</p>
    </div>
}

<style>
    .modal-lg {
        max-width: 85%;
    }
</style>

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="Create" class="btn btn-primary">
                    <span title="Cadastrar" class="fas fa-plus"></span> Cadastrar
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Points)</th>
                <th>@Html.DisplayNameFor(model => model.Category.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Points)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Alterar" class="btn btn-warning">
                            <span class="fas fa-edit">Alterar</span>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" title="Detalhar" class="btn btn-primary">
                            <span class="fas fa-search">Detalhar</span>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir" class="btn btn-danger">
                            <span class="fas fa-trash-alt">Excluir</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>